@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.hover-animation-element {
    filter: brightness(1);
    transition: filter 0.2s ease;
}

.hover-animation-element:hover {
    filter: brightness(0.8);
}

header {
    position: fixed;
    padding: 26px 16px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    background: #7070703e;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 104px;
    height: 26px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.header__icons-bar {
    display: flex;
    gap: 12px;
}

.hero-section {
    position: relative;
    padding: 100px 16px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-section__img {
    position: absolute;
    inset: 0;
    z-index: -2;
}

.hero-section .hero-section__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 50px 50px;
    opacity: 0.5;
}

.hero-section .hero-section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.hero-section .hero-section__content .hero-section__title {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-section .hero-section__content .hero-section__title .hero-section__main-title {
    box-shadow: 0px 4px 4px 0px #1F191900;
    color: #07484A;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    margin: 0;
}

.hero-section .hero-section__content .hero-section__title .hero-section__title_description {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #07484A;
    margin: 0;
}

.hero-section .hero-section__content .hero-section__button {
    padding: 16px 40px;
    border-radius: 10px;
    background: #70908B;
    color: #FDFBF8;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
}

.header-navigation-panel {
    display: none;
}

.navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-list .navigation-list__element a {
    color: #07484A;
    font-weight: 400;
    position: relative;
    transition: font-weight 0.2s;
}

.navigation-list .navigation-list__element a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #07484A;
    top: 180%;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
}

.navigation-list .navigation-list__element a:hover::after {
    opacity: 1;
    top: 110%;
}

.navigation-list .navigation-list__element a:hover {
    font-weight: 700;
}

.navigation-list .navigation-list__element.navigation-list__element--highlighted a {
    transition: none;
    font-weight: 700;
}

.navigation-list .navigation-list__element.navigation-list__element--highlighted a::after {
    top: 110%;
    opacity: 1;
}

.category-section-wrapper {
    padding: 80px 16px;
}

.category-section-wrapper .category-section {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.category-section-wrapper .category-section .category-section__headline {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.category-section-wrapper .category-section .category-section__headline h2{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #07484A;
}

.category-section-wrapper .category-section .category-section__headline .category-search-menu-container {
    display: flex;
    gap: 36px;
}

.category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-form {
    display: flex;
    gap: 18px;
    background-color: #F0F0F0;
    border-radius: 10px;
    width: 100%;
}

.category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-form .svg-container {
    padding-left: 20px;
}

.category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-form input {
    padding: 16px 0;
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    width: 60%;
    flex-grow: 1;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__side-menu {
    display: none;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element {
    position: relative;
    height: 211px;
    border-radius: 10px;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element .category-section__element-bg-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(0) contrast(1);
    transition: all 0.2s;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element .category-section__element-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(0.6);
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element:hover .category-section__element-bg-img {
    filter: blur(5px) contrast(0.8);
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element .category-section__element-button {
    position: absolute;
    padding: 14px 20px;
    opacity: 0;
    transition: all 0.2s;
    background-color: #E0EFF6;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element .category-section__element-button span {
    font-family: Open Sans;
    font-size: 18px;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element:hover .category-section__element-button {
    opacity: 1;
    top: 66%;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element .category-section__element-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    font-family: 'Playfair Display', serif;
    font-size: 36px;;
    color: #FDFBF8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element:hover .category-section__element-name {
    top: 33%;
    text-shadow: none;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element.category-section__element--highlighted {
    transition: none;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element.category-section__element--highlighted .category-section__element-name{
    top: 33%;
    text-shadow: none;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element.category-section__element--highlighted .category-section__element-button{
    opacity: 1;
    top: 66%;
}

.category-section-wrapper .category-section .category-section__main-block .category-section__element.category-section__element--highlighted .category-section__element-bg-img {
    filter: blur(5px) contrast(0.8);
}

.category-section-wrapper .category-section .category-section__headline .category-navigation-panel__list {
    display: none;
}

.category-section-wrapper .category-section .category-section__headline .category-section__all-categories-button {
    display: none;
    padding: 32px 50px;
}

.side-slider {
    position: relative;
}

.side-slider .side-slider__bold-line{
    position: absolute;
    background-color: #70908B;
}

.side-slider .side-slider__thin-line{
    background-color: #07484A;
}

.arrows-container {
    display: flex;
    gap: 24px;
}

.arrows-container .back-arrow {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #E0EFF6;
}

.arrows-container .forward-arrow {
    height: 40px;
    border-radius: 100px;
    width: 40px;
    background-color: #F9D9DA;
}

.more-items-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #70908B;
    border-radius: 10px;
    color: #fff;
}

.more-items-button span {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

.popular-products-section-wrapper {
    padding: 80px 0;
}

.popular-products-section-wrapper .popular-products-section {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 60px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__headline {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: center;
    margin: 0;
    align-self: center;
    color: #07484A;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block {
    padding: 0 36px;
    display: flex;
    gap: 32px;
    overflow-x: auto;
    scrollbar-width: none;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item {
    border-radius: 16px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item .popular-products-section__content-block-item-link {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item.popular-products-section__content-block-item--armchair {
    background-color: #CAF3E5;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item.popular-products-section__content-block-item--premium-sofa {
    background-color: #E0EFF6;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item.popular-products-section__content-block-item--minimal-sofa {
    background-color: #EEEBFF;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item.popular-products-section__content-block-item--dinning-chair {
    background-color: #FFF4E7;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container {
    padding: 0 54px;
    margin-top: 22px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container img{
    width: 89px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details h4 {
    margin: 0;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    color: #70908B;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details p {
    font-family: Open Sans;
    margin: 0;
    font-size: 18px;
    font-weight: 100;
    color: #70908B;
    padding-top: 14px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
.popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details span {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    color: #70908B;
    padding-top: 20px;
    display: block;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
.popular-products-section__side-slider {
    justify-content: center;
    display: flex;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
.popular-products-section__side-slider .side-slider__thin-line {
    width: calc(100% - 32px);
    height: 3px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
.popular-products-section__side-slider .side-slider__bold-line {
    width: 80px;
    height: 7px;
    left: 16px;
    top: -2px;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
.popular-products-section__arrows-container {
    display: none;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__all-items-button {
    padding: 24px 38px;
    align-self: center;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper {
    position: absolute;
    top: 96px;
    left: 0;
    z-index: -2;
}

.popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper img {
    height: 434px;
}
 
@media (min-width: 550px) and (max-width: 768px) {
    .category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 26px 20px;
        width: calc(100% - 40px);
    }
    
    .logo {
        order: -1;
        width: 144px;
        height: 36px;
    }

    .burger-menu-svg-container svg{
        width: 31px;
        height: 24px;
    }

    .header__icons-bar {
        gap: 58px;
    }

    .header__icons-bar .icons-bar__icon svg{
        width: 27px;
        height: 27px;
    }

    .hero-section {
        align-items: flex-start;
        padding: 80px 20px;
    }

    .hero-section .hero-section__content {
        align-items: flex-start;
    }
    
    .hero-section .hero-section__content .hero-section__title {
        align-items: flex-start;
        width: 75%;
    }

    .hero-section .hero-section__content .hero-section__title .hero-section__main-title {
        text-align: left;
        font-size: 48px;
        width: 90%;
        line-height: 62px;
    }

    .hero-section .hero-section__content .hero-section__title .hero-section__title_description {
        font-size: 24px;
    }

    .hero-section .hero-section__content .hero-section__button {
        padding: 24px 55px;
        font-size: 24px;
    }

    .category-section-wrapper {
        padding: 100px 20px;
    }

    .category-section-wrapper .category-section .category-section__headline {
        align-items: center;
        align-self: center;
        max-width: 791px;
    }

    .category-section-wrapper .category-section .category-section__headline h2 {
        font-size: 48px;
    }
    
    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container {
        width: 463px;
    }
    
    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-form input {
        padding: 29px 0;
    }

    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-burger-menu {
        display: none;
    }

    .category-section-wrapper .category-section .category-section__headline .category-section__all-categories-button {
        display: flex;
    }

    .category-section-wrapper .category-section {
        gap: 99px;
    }

    .category-section-wrapper .category-section .category-section__headline .category-navigation-panel__list {
        display: flex;
        gap: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        flex-wrap: wrap;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__element {
        height: 277px;
    }

    .popular-products-section-wrapper {
        padding: 100px 0;
    }
    
    .popular-products-section-wrapper .popular-products-section {
        gap: 100px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__headline {
        font-size: 64px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block {
        padding: 0 40px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item {
        border-radius: 16px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link {
        padding: 60px 40px;
        gap: 40px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container {
        padding: 0 66px;
        margin-top: 24px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container img{
        width: 204px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details h4 {
        font-size: 24px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details p {
        padding-top: 16px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details span {
        padding-top: 22px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__side-slider .side-slider__thin-line {
        width: calc(100% - 40px);
        height: 5px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__side-slider .side-slider__bold-line {
        width: 120px;
        height: 9px;
        left: 20px;
        top: -2px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper {
        top: 56px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper img {
        height: 909px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    header {
        padding: 26px 40px;
        width: calc(100% - 80px);
    }
    
    .logo {
        order: -1;
        width: 144px;
        height: 36px;
    }

    .burger-menu-svg-container svg{
        width: 31px;
        height: 24px;
    }

    .header__icons-bar {
        gap: 58px;
    }

    .header__icons-bar .icons-bar__icon svg{
        width: 27px;
        height: 27px;
    }

    .hero-section {
        align-items: flex-start;
        padding: 80px 40px;
    }

    .hero-section .hero-section__content {
        align-items: flex-start;
    }
    
    .hero-section .hero-section__content .hero-section__title {
        align-items: flex-start;
        width: 75%;
    }

    .hero-section .hero-section__content .hero-section__title .hero-section__main-title {
        text-align: left;
        font-size: 48px;
        width: 90%;
        line-height: 62px;
    }

    .hero-section .hero-section__content .hero-section__title .hero-section__title_description {
        text-align: left;
        font-size: 24px;
    }

    .hero-section .hero-section__content .hero-section__button {
        padding: 24px 55px;
        font-size: 24px;
    }

    .category-section-wrapper {
        padding: 100px 40px;
    }

    .category-section-wrapper .category-section .category-section__headline {
        align-items: center;
        align-self: center;
        max-width: 791px;
    }

    .category-section-wrapper .category-section .category-section__headline h2 {
        font-size: 48px;
    }
    
    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container {
        width: 463px;
    }

    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-form input {
        padding: 29px 0;
    }

    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container .category-search-burger-menu {
        display: none;
    }

    .category-section-wrapper .category-section {
        gap: 99px;
    }

    .category-section-wrapper .category-section .category-section__headline .category-navigation-panel__list {
        display: flex;
        gap: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        flex-wrap: wrap;
    }

    .category-section-wrapper .category-section .category-section__headline .category-section__all-categories-button {
        display: flex;
    }

    .category-section-wrapper .category-section .category-section__headline .category-section__all-categories-button span {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__element {
        height: 277px;
    }

    .popular-products-section-wrapper {
        padding: 100px 0;
    }
    
    .popular-products-section-wrapper .popular-products-section {
        gap: 100px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__headline {
        font-size: 64px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block {
        padding: 0 60px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item {
        border-radius: 16px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link {
        padding: 60px 40px;
        gap: 40px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container {
        padding: 0 66px;
        margin-top: 24px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container img{
        width: 204px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details h4 {
        font-size: 24px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details p {
        padding-top: 16px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details span {
        padding-top: 22px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__side-slider .side-slider__thin-line {
        width: calc(100% - 80px);
        height: 5px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__side-slider .side-slider__bold-line {
        width: 120px;
        height: 9px;
        left: 40px;
        top: -2px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper {
        top: 56px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper img {
        height: 909px;
    }
}

@media (min-width: 1440px) {
    header {
        padding: 26px 150px;
        width: calc(100% - 300px);
    }

    .header-navigation-panel {
        display: block;
    }

    .header-navigation-panel .header-navigation-panel__list {
        font-family: 'Playfair Display', serif;
        gap: 50px;
        font-size: 20px;
    }
    
    .logo {
        order: -1;
        width: 144px;
        height: 36px;
    }

    .burger-menu-svg-container {
        display: none;
    }

    .header__icons-bar {
        gap: 58px;
    }

    .header__icons-bar .icons-bar__icon svg{
        width: 27px;
        height: 27px;
    }

    .burger-menu-svg-container svg{
        width: 31px;
        height: 24px;
    }

    .hero-section {
        align-items: flex-start;
        padding: 80px 150px 100px;
    }

    .hero-section .hero-section__content {
        align-items: flex-start;
        gap: 54px;
    }
    
    .hero-section .hero-section__content .hero-section__title {
        align-items: flex-start;
        width: 75%;
        gap: 54px;
    }

    .hero-section .hero-section__content .hero-section__title .hero-section__main-title{
        text-align: left;
        font-size: 64px;
        width: 90%;
        line-height: 86px;
    }

    .hero-section .hero-section__content .hero-section__title .hero-section__title_description{
        text-align: left;
        font-size: 24px;
    }

    .hero-section .hero-section__content .hero-section__button {
        padding: 24px 55px;
        font-size: 24px;
    }

    .category-section-wrapper {
        padding: 100px 150px;
    }

    .category-section-wrapper .category-section {
        gap: 99px;
    }

    .category-section-wrapper .category-section .category-section__headline h2 {
        font-size: 64px;
        line-height: 85px;
    }
    
    .category-section-wrapper .category-section .category-section__headline .category-search-menu-container,
    .category-section-wrapper .category-section .category-section__headline .category-navigation-panel__list.navigation-list,
    .category-section-wrapper .category-section .category-section__headline .category-section__all-categories-button.hover-animation-element {
        display: none;
    }

    .category-section-wrapper .category-section .category-section__main-block {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-search-form {
        display: flex;
        gap: 18px;
        background-color: #F0F0F0;
        border-radius: 10px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-search-form .svg-container{
        padding-left: 32px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-search-form input {
        padding: 26px 0;
        background-color: transparent;
        border: none;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        width: 60%;
        flex-grow: 1;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-nav-slider-container {
        display: flex;
        gap: 120px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-nav-slider-container .category-section__side-navigation-panel-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        align-items: flex-start;
        padding-left: 33px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-nav-slider-container .category-section__side-slider-arrows-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu 
    .category-section__side-nav-slider-container .category-section__side-slider-arrows-container {
        display: flex;
        gap: 10px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu 
    .category-section__side-nav-slider-container .category-section__side-slider-arrows-container 
    .category-section__side-slider .side-slider__bold-line {
        height: 60px;
        width: 3px;
        top: 0;
        left: -1px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu 
    .category-section__side-nav-slider-container .category-section__side-slider-arrows-container 
    .category-section__side-slider .side-slider__thin-line {
        height: 577px;
        width: 1px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu 
    .category-section__side-nav-slider-container .category-section__side-slider-arrows-container 
    .category-section__arrows-container {
        flex-direction: column;
        height: fit-content;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu .category-section__side-all-categories-button {
        padding: 32px 50px;
        width: fit-content;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__side-menu 
    .category-section__side-all-categories-button span {
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 700;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }

    .category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 26px;
        column-gap: 32px;
    }
    
    .category-section-wrapper .category-section .category-section__main-block .category-section__main-content-wrapper .category-section__element {
        height: auto;
    }

    .popular-products-section-wrapper {
        padding: 100px 0;
    }
    
    .popular-products-section-wrapper .popular-products-section {
        gap: 100px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__headline {
        font-size: 64px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block {
        padding: 0 196px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item {
        border-radius: 16px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link {
        padding: 60px 40px;
        gap: 40px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container {
        padding: 0 73px;
        margin-top: 24px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-img-container img{
        width: 204px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details h4 {
        font-size: 24px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details p {
        padding-top: 16px;
    }
    
    .popular-products-section-wrapper .popular-products-section .popular-products-section__content-block 
    .popular-products-section__content-block-item .popular-products-section__content-block-item-link .popular-products-section__item-details span {
        padding-top: 22px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container  {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__side-slider .side-slider__thin-line {
        width: calc(100% - 300px);
        height: 5px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__side-slider .side-slider__bold-line {
        width: 120px;
        height: 9px;
        left: 150px;
        top: -2px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper {
        top: 24px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__background-image-wrapper img {
        height: 1098px;
    }

    .popular-products-section-wrapper .popular-products-section .popular-products-section__slider-arrows-container 
    .popular-products-section__arrows-container {
        display: flex;;
        width: fit-content;
        align-self: flex-end;
        margin-right: 150px;
    }
    
}
